---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgresql-sqlproxy
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: postgresql-sqlproxy
  template:
    metadata:
      labels:
        app: postgresql-sqlproxy
    spec:
      serviceAccountName: cloud-sql-sa
      containers:
        - name: cloud-sql-proxy
          image: gcr.io/cloud-sql-connectors/cloud-sql-proxy:2.19.0
          command:
            - /cloud-sql-proxy
            - --structured-logs
            - --address=0.0.0.0
            - --port=5432
          ports:
            - containerPort: 5432
              protocol: TCP
          livenessProbe:
            tcpSocket:
              port: 5432
            initialDelaySeconds: 20
            periodSeconds: 10
            failureThreshold: 3
          resources:
            requests:
              memory: "400Mi"
              cpu: "200m"
            limits:
              memory: "400Mi"
          volumeMounts:
            - name: ssl-certs
              mountPath: /etc/ssl/certs
              readOnly: true
          securityContext:
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
      volumes:
        - name: ssl-certs
          hostPath:
            path: /etc/ssl/certs
      restartPolicy: Always
      dnsPolicy: ClusterFirst
      terminationGracePeriodSeconds: 30