---
apiVersion: v1
kind: Service
metadata:
  name: postgresql-sqlproxy
  labels:
    app: postgresql-sqlproxy
spec:
  type: ClusterIP
  ports:
    - port: 5432
      protocol: TCP
      targetPort: 5432
  selector:
    app: postgresql-sqlproxy